body{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link {
    color: black;
    font-size: 20px;
}

.nav-link:hover {
  color: #f59301;
}
#carouselExampleDark{
    width: 600px;
    margin: 0 auto;
  padding: 20px;
  color: white;
}
#cropped {
    width: 600px; /* width of container */
    height: 350px; /* height of container */
    object-fit: cover;
    object-position:center;
    
}

#pad {
    width: 230px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
    object-position:center;
    
}

main {

 background-color: black;;
  margin: 20px 0;
  padding: 10px;
    
}
.texto {
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
font-weight: bold;
color: red;

}
.btn-center {
  padding: 0%;
  margin: 0%;
}

.btn-center {
  margin-top: 20px;
}
.logo {
  width:50px;

}

.container {
   width: 1000px;
   margin: 20px auto;
   text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    & &-card {
      width: 24%;
      margin: 3px;
      box-shadow: 0 0 10px #ccc;
      border-radius: 5px;
      text-align: center;
      margin-bottom: 20px;
    }
    
    & &-img {
      width: 100%;
      border-radius: 5px 5px 0 0;
    }
}

.flex-card {
    padding: 10px;
    background-color: black;
    
}


.btn {
  text-decoration: none;
  background: #eb0707 ;
  color: #7b0303;
  padding: 10px;
  border-radius: 5px;
  &:houver {
  background-color: #7b0303;  
  }
}

p {
  margin: 15px;
  line-height: 30px;
 font-size: 20px;
}
#titulo {
    font-family: "Architects Daughter", cursive;
    font-weight: 400;
    font-style: normal;
}

#menu {
  background-image: url('../imagens/fundo.png');
}

div {
  text-align: center;
  width: 100%;
}

form {
  display: block;
  border: 2px solid white;
  padding-right: 30px;
  height: 300px; /*altura */
  padding-top: 20px;
}

form label { /* nome do campo */
  font-size: 20px;
  color: white;
  float: left;
}

form input { /* campo de preenchher o formulário */
  width: 300px;
  background-color: black;
  border: 1px solid white;
  border-radius: 2%;
  padding: 5px;
  float: right;
  color: white;
}

form textarea { /* campo digite sua mensagem */
  width: 300px;
  height: 100px;
  background-color: black;
  border: 1px solid white;
  border-radius: 2%;
  padding: 5px;
  float: right;
  color: white;
}

button {
  display: block;
  margin-top: 120px;
  border-radius: 5%;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
}

button:hover{
  background-color: rgb(255, 21, 0);
  color: white;
}

.for {
  margin: 15px;
}

.banner{ /* imagens mais largas */
  width: 750px;
  height: 300px;
  margin-top: 20px;
  margin: auto;
  display: block;
}